<form action="/add-post" method="post">
    ADD POST <br />
    <label for="title"><b>Title</b></label>
    <input type="text" placeholder="Enter title" name="title">
    <br />
    <label for="body"><b>Post</b></label>
    <input type="text" placeholder="Post" name="body">
    <input type="submit" value="Add" aria-label="Submit"></input>
</form>