<h3>admin</h3>

<form action="/admin" method="post">
    LOG IN: <br />
    <label for="username"><b>Username</b></label>
    <input type="text" placeholder="Enter username" name="username">
    <br />
    <label for="password"><b>Password</b></label>
    <input type="text" placeholder="Enter password" name="password">
    <input type="submit" value="Enter" aria-label="Submit"></input>
</form>
<br />
<form action="/register" method="post">
    REGISTER <br />
    <label for="username"><b>Username</b></label>
    <input type="text" placeholder="Enter username" name="username">
    <br />
    <label for="password"><b>Password</b></label>
    <input type="text" placeholder="Enter password" name="password">
    <input type="submit" value="Register" aria-label="Submit"></input>
</form>