<header class="header">
    <a href="/" class="header__logo">Spaceblogs</a>

    <nav class="header__nav">
        <li>
            <a href="/"" class="">Home</a>
        </li>
        <li>
            <a href="/about"" class="">About</a>
        </li>
        <li>
            <a href="/contact" class="">Contact</a>
        </li>
    </nav>

    <div class="header__button">
        <button class="searchBtn" aria-expanded="false">
            Search 
            <svg xmlns="http://www.w3.org/2000/svg" version="1.0" width="24px" height="24px" viewBox="0 0 50.000000 50.000000" preserveAspectRatio="xMidYMid meet">
                <g transform="translate(0.000000,50.000000) scale(0.100000,-0.100000)" fill="none" stroke="none">
                <path d="M196 406 c10 -8 21 -12 24 -10 5 6 -21 24 -34 24 -6 0 -1 -6 10 -14z"/>
                <path d="M136 365 c-21 -32 -21 -32 13 -49 28 -15 30 -14 45 9 19 28 21 44 4 27 -15 -15 -49 3 -42 23 9 23 -2 18 -20 -10z"/>
                <path d="M170 370 c0 -5 5 -10 11 -10 5 0 7 5 4 10 -3 6 -8 10 -11 10 -2 0 -4 -4 -4 -10z"/>
                <path d="M206 325 c-18 -28 -21 -39 -6 -30 14 8 68 -25 73 -44 2 -11 9 -5 21 17 9 19 16 35 14 36 -10 7 -80 46 -82 46 -2 0 -11 -11 -20 -25z"/>
                <path d="M304 265 c-19 -30 -19 -30 27 -49 32 -13 35 -13 35 2 1 9 4 24 8 33 5 11 -1 19 -19 27 -34 16 -32 16 -51 -13z"/>
                <path d="M224 265 c36 -19 47 -19 22 0 -11 8 -27 15 -35 15 -9 0 -3 -7 13 -15z"/>
                <path d="M200 225 c0 -6 56 -35 67 -35 4 0 -7 9 -25 20 -33 20 -42 24 -42 15z"/>
                <path d="M166 204 c-4 -9 -4 -19 -1 -22 2 -3 7 3 11 12 4 9 4 19 1 22 -2 3 -7 -3 -11 -12z"/>
                <path d="M220 185 c14 -8 30 -14 35 -14 6 0 -1 6 -15 14 -14 8 -29 14 -35 14 -5 0 1 -6 15 -14z"/>
                <path d="M200 150 c0 -5 5 -10 10 -10 6 0 10 5 10 10 0 6 -4 10 -10 10 -5 0 -10 -4 -10 -10z"/>
                <path d="M238 148 c9 -9 15 -9 24 0 9 9 7 12 -12 12 -19 0 -21 -3 -12 -12z"/>
                <path d="M280 150 c0 -5 5 -10 10 -10 6 0 10 5 10 10 0 6 -4 10 -10 10 -5 0 -10 -4 -10 -10z"/>
                <path d="M238 123 c6 -2 18 -2 25 0 6 3 1 5 -13 5 -14 0 -19 -2 -12 -5z"/>
                <path d="M206 95 c-3 -8 -1 -15 3 -15 5 0 11 7 15 15 3 8 1 15 -3 15 -5 0 -11 -7 -15 -15z"/>
                <path d="M240 95 c0 -8 5 -15 10 -15 6 0 10 7 10 15 0 8 -4 15 -10 15 -5 0 -10 -7 -10 -15z"/>
                <path d="M276 95 c4 -8 10 -15 15 -15 4 0 6 7 3 15 -4 8 -10 15 -15 15 -4 0 -6 -7 -3 -15z"/>
                </g>
            </svg>
        </button>
    </div>
</header>