<header class="header">
    <a href="/" class="header__logo">Spaceblogs</a> 

    <nav class="header__nav">
        <li>
            <a href="/"" class="">Home</a>
        </li>
        <li>
            <a href="/about"" class="">About</a>
        </li>
        <li>
            <a href="/contact" class="">Contact</a>
        </li>
    </nav>

    <div class="header__button">
        <%- include('search') %>
    </div>
</header>