<div class="author">
    <h1 class="author__heading">My spaceblog. Hi!</h1>
    <p class="author__body">Karol Wichmann, astro-enthusiast.</p>
</div>

<img alt="a person looking at the viewer" src="/img/hero-image.webp" width="981" height="528">

<section class=""articles">
    <h2 class="articles__heading">Latest posts</h2>

    <ul class="article-ul">
        <li>
            <a href="#">
                <span>Post Title</span>
                <span class="article-list__date">Date</span>
            </a>
        </li>
    </ul>

    <a href="#" class="pagination">&lt; View older posts</a>
</section>